%img(src="/images/blog/Bradley_Sheehan_Resume(1).png")

/ <div id="leftside">
/   <div id="section1">
/     <img>
/     <h2>
/     <p>
/     <div id="purpose">
/       <p>This is the purpose</p>
/     </div>
/   </div>
/   <div id="section2">
/     <h3>Education</h3>
/     <ul>
/       <li>
/         <strong>University of Notre Dame</strong>
/         <p>Notre Dame, In</p>
/       </li>
/     </ul>
/   </div>
/   <div id="section3">
/   </div>
/   <div id="section4">
/   </div>
/ </div>
