.ls.columns.six
  %p
    .res-purpose
      %p
        <strong>I seek to match my talents with a company that treats code and design as a craft and that promotes employee growth through pair programming and mentorship.</strong>
  %p
    .ls#section2
      %ul#res-list
        %h3
          Education
        %li
          <strong>University of Notre Dame</strong>
        %li
          Bachelor of Arts 2010
        %li
          'Environmental Studies & Sustainable Design'
        %li
          <strong> School for International Training </strong>
        %li
          Uganda, Spring 2009
        %li
          <strong> Santa Clara University </strong>
        %li
          2006-2007
  %p
  .ls#section3
    %ul#res-list
      %li
        %h3
          Skills
        %p
          %li
            <strong>Personal</strong>
          %li
            Interpersonal Communication | Self-Starting | Teamworking
            %br
            Task-Oriented & Purpose-Driven
        %p
          %li
            <strong>Technology</strong>
          %li
            Ruby | Rails | Photoshop | Illustrator | InDesign | Rhino-3D
  %p
  .ls#section4
    %ul#res-list
    %h3
      Achievements
    %p
      %li
        <strong>Awards & Honors</strong>
      %li
        Band of the Fighting Irish: Two-Time Shamrock Award Winner
      %li
        Geneva Glen Camp: Leadership Awards(2005, 2010)
    %p
      %li
        <strong>Activities</strong>
      %li
        Band of the Fighting Irish: Drumline, 2008-2010
      %li
        Drumming | Hiking | Biking | Skiing | Community Service
.rs.columns.six
  %p
    .ls#section2
      %ul#res-list
        %h3
          Experience
        %p
          %li
            <strong>New Belgium Brewing Company</strong>, Fort Collins, CO
          %li
            <i><strong>Sustainability Communications Associate</strong></i>
          %li
            Facilitated communication between web team and sustainability team to help redesign New Belgium's corporate sustainablity report
        %p
          %li
            <strong>Denver Water Department</strong>, Denver, CO
          %li
            <i><strong>Conservation Field Representative</strong></i>
          %li
            Educated Denver residents about Denver Water's conservation efforts and enforced summer water-use rules
          %li
            Represented Denver Water for 3 local News Interviews
        %p
          %li
            <strong>Natural Capitalism Solutions</strong>, Longmont, CO
          %li
            <i><strong>Sustainable Design Associate</strong></i>
          %li
            Generated graphic concepts for several projects in addition to conducting projects research
  %p
  .ls#section3
    %ul#res-list
      %li
        %h3
          Projects
        %p
          %li
            <strong>Artistic Streets  |  </strong>
            =link_to "View the Code", "https://github.com/bradpsheehan/artistic_streets"
          %li
            Artistic Streets is a Rails application that makes it easy for people to discover and document public art in their local community and around the world.
        %p
          %li
            <strong>RunLine  |  </strong>
            =link_to "View the Code", "https://github.com/bradpsheehan/feed_engine"
          %li
            Runline is a Rails application that makes organizing group runs easy. The app uses twitter for authentication and allows users to create a group run, map a route, and track group statistics with Runkeeper integration.
        %p
          %li
            <strong>Daughter of Store Engine (DOSE)  |  </strong>
            =link_to "View the Code", "https://github.com/bradpsheehan/daughter_of_store_engine"
          %li
            Daughter of Store Engine (DOSE) is a multi-tenant e-commerce site that offers both administrator and consumer interfaces.

