/ %img(src="/images/blog/Bradley_Sheehan_Resume(1).png")

/ .res_purpose.left
/   .columns.six
/     / .ls#section1
/       / <img>
/       / <h2>
/       / <p>
/     .purpose
/       %p This is the purpose
.ls.columns.six
  %p
    .ls#section2
      %ul#res-list
        %h3
          Education
        %li
          <strong>University of Notre Dame</strong>
        %li
          Bachelor of Arts 2010
        %li
          'Environmental Studies & Sustainable Design'
        %li
          <strong> GPA 3.44 </strong>
        %li
          <strong> School for International Training </strong>
        %li
          Uganda, Spring 2009
        %li
          <strong> Santa Clara University </strong>
        %li
          2006-2007
  %p
  .ls#section3
    %ul#res-list
      %li
        %h3
          Skills
        %p
          %li
            <strong>Personal</strong>
          %li
            Interpersonal Communication | Self-Starting | Teamworking
        %p
          %li
            <strong>Leadership</strong>
          %li
            Task-Oriented & Purpose-Driven Servant Leadership
        %p
          %li
            <strong>Software</strong>
          %li
            Ruby | Rails | Photoshop | Illustrator | InDesign | Rhino-3D
  %p
  .ls#section4
    %ul#res-list
    %h3
      Achievements
    %li
      / <strong>University of Notre Dame</strong>
    %li Notre Dame, In
.rs.columns.six
  %p
    .ls#section2
      %ul#res-list
        %h3
          Experience
        %p
          %li
            <strong>New Belgium Brewing Company</strong>, Fort Collins, CO
          %li
            <i><strong>Sustainability Communications Associate</strong></i>
          %li
            Designing a strategic evolution in New Belgium's corporate sustainability communications
        %p
          %li
            <strong>Denver Water Department</strong>, Denver, CO
          %li
            <i><strong>Conservation Field Representative</strong></i>
          %li
            Educated Denver residents about Denver Water's conservation efforts and enforced summer water-use rules
          %li
            Represented Denver Water for 3 local News Interviews
        %p
          %li
            <strong>Snooze Eatery</strong>, Denver, CO
          %li
            <i><strong>Sustainability Communications Consultant</strong></i>
          %li
            Created a calendar intended to inform both internal and external audiences about Snooze's monthly sustainability initiatives
        %p
          %li
            <strong>Natural Capitalism Solutions</strong>, Longmont, CO
          %li
            <i><strong>Sustainable Design Associate</strong></i>
          %li
            Generates graphic concepts for several projects in addition to conducting projects research
        %p
          %li
            <strong>WhiteWave Foods</strong>, Broomfield, CO
          %li
            <i><strong>Sustainable Design Consultant</strong></i>
          %li
            Created graphic concepts for '2011 Responsible Livelihood Update'
        %p
          %li
            <strong>Geneva Glen Camp</strong>, Indian Hills, CO
          %li
            <i><strong>Property Manager</strong></i>
          %li
            6 summers of upward leadership in property management - serving 350 people, managed staff of 25
  %p
  .ls#section3
    %ul#res-list
      %li
        %h3
          Projects
        %p
          %li
            <strong>Development Studies - Rice Cultivation & Irrigation</strong>
          %li
            Mbale, Uganda - Spring 2009
          %li
            Studied the sustainability of a Japanese agency's approach to sensitizing Ugandan farmers to a new method of rice cultivation.  Conducted a comparison of traditional and new rice growing methods, and assesed efficiency of irrigation techniques.
        %p
          %li
            <strong>Development Studies - Rice Cultivation & Irrigation</strong>
          %li
            <i>Senior Design Project - Spring 2009</i>
          %li
            Conducted a Life Cycle Analysis of glass bottles and drink packaging, and generated concepts for package design on the basis of material and product reuse.
  %p
  .ls#section4
    %ul#res-list
    %h3
      Relevant Coursework
      %li
        / <strong>University of Notre Dame</strong>
