/ %img(src="/images/blog/Bradley_Sheehan_Resume(1).png")

/ .res_purpose.left
/   .columns.six
/     / .ls#section1
/       / <img>
/       / <h2>
/       / <p>
/     .purpose
/       %p This is the purpose
.ls.columns.six
  %p
    .ls#section2
      %ul#res-list
        %h3
          Education
        %li
          <strong>University of Notre Dame</strong>
        %li
          Bachelor of Arts 2010
        %li
          'Environmental Studies & Sustainable Design'
        %li
          <strong> GPA 3.44 </strong>
        %li
          <strong> School for International Training </strong>
        %li
          Uganda, Spring 2009
        %li
          <strong> Santa Clara University </strong>
        %li
          2006-2007
  %p
  .ls#section3
    %ul#res-list
      %li
        %h3
          Skills
      %li Notre Dame, In
  %p
  .ls#section4
    %ul#res-list
    %h3
      Achievements
    %li
      / <strong>University of Notre Dame</strong>
    %li Notre Dame, In
.rs.columns.six
  %p
    .ls#section2
      %ul#res-list
        %h3
          Experience
        %p
          %li
            <strong>New Belgium Brewing Company</strong>, Fort Collins, CO
          %li
            <i><strong>Sustainability Communications Associate</strong></i>
          %li
            Designing a strategic evolution in New Belgium's corporate sustainability communications
        %p
          %li
            <strong>Denver Water Department</strong>, Denver, CO
          %li
            <i><strong>Conservation Field Representative</strong></i>
          %li
            Educated Denver residents about Denver Water's conservation efforts and enforced summer water-use rules
          %li
            Represented Denver Water for 3 local News Interviews
        %p
          %li
            <strong>Snooze Eatery</strong>, Denver, CO
          %li
            <i><strong>Sustainability Communications Consultant</strong></i>
          %li
            Created a calendar intended to inform both internal and external audiences about Snooze's monthly sustainability initiatives
        %p
          %li
            <strong>Natural Capitalism Solutions</strong>, Longmont, CO
          %li
            <i><strong>Sustainability Communications Consultant</strong></i>
          %li
            Created a calendar intended to inform both internal and external audiences about Snooze's monthly sustainability initiatives
  %p
  .ls#section3
    %ul#res-list
      %li
        %h3
          Projects
      %li
  %p
  .ls#section4
    %ul#res-list
    %h3
      Relevant Coursework
      %li
        / <strong>University of Notre Dame</strong>
