/ %img(src="/images/blog/Bradley_Sheehan_Resume(1).png")

/ .res_purpose.left
/   .columns.six
/     / .ls#section1
/       / <img>
/       / <h2>
/       / <p>
/     .purpose
/       %p This is the purpose
.ls.columns.six
  %p
    .ls#section2
      %ul#res-list
        %h3
          Education
        %li
          <strong>University of Notre Dame</strong>
        %li Notre Dame, In
  %p
  .ls#section3
    %ul#res-list
      %li
        %h3
          Skills
      %li Notre Dame, In
  %p
  .ls#section4
    %ul#res-list
    %h3
      Achievements
    %li
      / <strong>University of Notre Dame</strong>
    %li Notre Dame, In
.rs.columns.six
  %p
    .ls#section2
      %ul#res-list
        %h3
          Experience
        %li
          <strong>New Belgium Brewing Company</strong>
  %p
  .ls#section3
    %ul#res-list
      %li
        %h3
          Projects
      %li
  %p
  .ls#section4
    %ul#res-list
    %h3
      Relevant Coursework
      %li
        / <strong>University of Notre Dame</strong>
